*, *:after, *:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-nav {
    background-color: white;
}

.main-nav__item{
    list-style: none;
}

.main-nav__link--about {
    color:#11144C;
}

.main-nav__link--skills {
    color:#3a9679;
}

.main-nav__link--portfolio {
    color:#fabc60
}

.main-nav__link--contact{
    color:#e16262
}

#main__about-us {
    background-color: #11144C;
    color: white;
}

.main__skills__header {
    color:#3a9679;
}

.skills__square {
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block;
    margin-right: 16px;
}

.skills__square--first {
    background-color: #11144C;
}

.skills__square--second {
    background-color: #3a9679;
}

.skills__square--third{
    background-color: #fabc60;
}

.skills__square--fourth{
    background-color: #e16262;
}

#main__portfolio {
    color: #fabc60;
}

.portfolio__square {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
}

.portfolio__square--first{
    border: 8px solid #11144C;
}

.portfolio__square--second{
    border: 8px solid #3a9679;
}

.portfolio__square--third{
    border: 8px solid #e16262;
}

.main__contact__form {
    width: 500px;
    display: flex;
    flex-direction: column;
}





